/**

  швблон 01

**/

html{
  font-size: 3em;
}

body{
  background-color: rgba(91, 96, 199,0.5);
}

header{
  width: 90vw;
  height: 10vh;
  margin: auto;
  background-color: rgba(87, 91, 193, 0.5);
}

main{
  width: 90vw;
  height: 80vh;
  margin: auto;
  background-color: rgba(82, 122, 201, 0.43);
}

footer{
  width: 90vw;
  height: 10vh;
  margin: auto;
  background-color: rgba(55, 42, 198, 0.5);
}
